body{
    background-color: #003B6F;
}
header{
    text-align: center;
    background-color: rgb(0, 59, 111);
    color: whitesmoke;
    padding: 15px;
    margin: 0 25%;
    font-family:  Courier 'Courier New', Courier, monospace;
}
nav a{
    color: whitesmoke;
    font-size: 1.3rem;
}
footer, footer a, footer a:visited{
    color: whitesmoke;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    margin-top: 50px;
}

.container {
    position: relative;
    width: 25%;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;
}
.camera{
    display: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}

.container:hover .overlay {
    height: auto;
    width: 500px;
    object-fit: contain;
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 3%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}