body{
    background-image:url(https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_640.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}
header{
    text-align: center;
    background-color: rgb(2, 2, 31);
    color: whitesmoke;
    padding: 15px;
    margin: 0 25%;
    font-family:  Courier 'Courier New', Courier, monospace;
}
.stamps{
    margin: 25px 25%;
}
div{
    background-color: rgb(2, 2, 31);
    color: whitesmoke;
    text-align: center;
    margin: 0 25%;
    padding: 10px;
}
footer{
    color: whitesmoke;
    text-align: center;
}
a:link{
    background-color:rgb(114, 243, 194);
    border-radius: 8px;
    padding: 3px;
}
a:visited{
    color:rgb(0, 0, 0);
}
a:hover{
    background-color:aqua;
    color:black
}
.home{
    background-color: rgba(0,0,0,0)
}