body{
    background-image:url(https://cdn.pixabay.com/photo/2017/08/15/08/23/stars-2643089_640.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: center;
    background-color: rgb(2, 2, 31);
    color: whitesmoke;
    padding: 15px;
    margin: 0 25%;
}